.nav__box {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
  transition: all 0.2s ease-in;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav__black {
  background-color: #111;
}
.nav__dummy {
  height: 70px;
}
.nav__logo {
  width: 80px;
}
.nav__avatar {
  width: 30px;
}
