.row {
  margin-left: 20px;
  margin-right: 40px;
  color: white;
}
.row__posters {
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  white-space: nowrap;
}
.row__posters::-webkit-scrollbar {
  width: 100px;
}
.row__posters::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.row__posters::-webkit-scrollbar-thumb {
  background: #222;
}
.row__posters::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 767px) {
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  .row__posters {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.row__poster {
  width: 100%;
  max-width: 166px;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 200ms;
  cursor: pointer;
}
.row__poster:hover {
  transform: scale(1.08);
}
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
